*{
	-webkit-transition: top 1s, left 1s, visibility 1s, background-color 1s, border 1s, -webkit-transform 1s, box-shadow 1s;
    transition: top 1s, left 1s, visibility 1s, background-color 1s, border 1s, transform 1s, box-shadow 1s;
}
body{
	margin: 0px;
	overflow: hidden;
}
/*************************sideBar*************************/
#sideBar.v0{
	position: fixed;
	height: 100vh;
	width: 300px;
	z-index: 2;
	border-right: 1px solid white;
}
#sideBar.v1{
	position: fixed;
	height: 100vh;
	width: 300px;
	z-index: 2;
	border-right: 1px solid black;
}
#sideBar.v2{
	position: fixed;
	height: 100vh;
	width: 300px;
	border-right: 1px solid white;
	box-shadow: 2px 0px 5px 0px #888;
	z-index: 2;
}
	/*************************codeButton*************************/
	#codeButton.v0{
		display: block;
		position: relative;
		top: 0px;left: 0px;
	}
	#codeButton.v1{
		display: block;
		position: relative;
		top: 50px;left: 50px;
	}
	/*************************money*************************/
	#money.v0{
		position: relative;
		top: 0px;left: 0px;
	}
	#money.v1{
		position: relative;
		top: 50px;left: 50px;
	}
	/*************************skill*************************/
	#skill.v0{
		position: relative;
		top: 0px;left: 0px;
	}
	#skill.v1{
		position: relative;
		top: 50px;left: 50px;
	}
	/*************************updateButton*************************/
	#updateButton.v0{
		position: relative;
		top: 0px;left: 0px;
	}
	#updateButton.v1{
		position: relative;
		top: 50px;left: 50px;
	}
	/*************************hireProgrammerButton*************************/
	#hireProgrammerButton.v0{
		position: relative;
		top: 0px;left: 0px;
	}
	#hireProgrammerButton.v1{
		position: relative;
		top: 50px;left: 50px;
	}
/*************************tabNav*************************/
#tabNav.v0{
	position: relative;
	visibility: hidden;
	width: calc(100vw - 300px);
	height: 75px;
	top: -75px;left: 300px;
	z-index: 1;
	border-bottom: 1px solid white;
}
#tabNav.v1{
	position: relative;
	visibility: visible;
	width: calc(100vw - 300px);
	height: 75px;
	top: 0px;left: 300px;
	z-index: 1;
	border-bottom: 1px solid black;
}
#tabNav.v2{
	position: relative;
	visibility: visible;
	width: calc(100vw - 300px);
	height: 75px;
	top: 0px;left: 300px;
	z-index: 1;
	box-shadow: 2px 2px 5px 0px #888;
}
	#tabs.v0{
		margin: 0px;
		padding: 0px;
	}
		#tabs li{
			display: inline;
			position: relative;
			top: 58px;
			border: 1px solid black;
			border-bottom: 1px solid white;
		}
/*************************gameArea*************************/
#gameArea.v0{
	position: relative;
	width: calc(100vw - 300px);
	height: calc(100vh - 75px);
	top: -75px;left: 300px;
	z-index: 0;
}
#gameArea.v1{
	position: relative;
	width: calc(100vw - 300px);
	height: calc(100vh - 75px);
	top: 0px;left: 300px;
	z-index: 0;
}
	/*************************gameTopBar*************************/
	#gameTopBar.v0{
		position: relative;
		visibility: hidden;
		float: left;
		height: 50px;
		width: calc(100% - 300px);
		overflow: hidden;
	}
		#gameTopBarH1.v0{
			display: inline-block;
			position: relative;
			left: -500px;
			margin: 0px;
			visibility: hidden;
			color: white;
		}
	#gameTopBar.v1{
		position: relative;
		visibility: visible;
		float: left;
		height: 50px;
		width: calc(100% - 300px);
		overflow: hidden;
	}
		#gameTopBarH1.v1{
			display: inline-block;
			position: relative;
			left: 0px;
			margin: 0px;
			color: black;
			visibility: visible;
		}
	/*************************gameRightBar*************************/
	#gameRightBar.v0{
		position: relative;
		float: right;
		height: 100%;
		width: 300px;
		left: 300px;
		border-left: 1px solid white
		box-sizing: border-box;
	}
	#gameRightBar.v1{
		position: relative;
		float: right;
		height: 100%;
		width: 300px;
		left: 0px;
		border-left: 1px solid black;
		box-sizing: border-box;
	}
	/*************************gameClickerArea*************************/
	#gameClickerArea.v0{
		position: relative;
		float: left;
		height: calc(100% - 50px);
		width: calc(100% - 300px);
	}
		#gameCounterArea.v0{
			overflow: hidden;
		}
			#gameCounter.v0{
				position: relative;
				left: -100px;
			}
			#gameCounter.v1{
				position: relative;
				left: 0px;
			}
		#gameClicker.v0{
			position: relative;
			visibility: hidden;
			height: 400px;
			width: 400px;
		}
		#gameClicker.v1{
			position: relative;
			visibility: visible;
			height: 400px;
			width: 400px;
			background-color: orange;
			cursor: pointer;
		}