html{
	overflow-x: hidden;
}
*{
	-webkit-transition: top 1s, right 1s, left 1s, visibility 1s, background-color 1s, border 1s, -webkit-transform 1s, box-shadow 1s;
    transition: top 1s, right 1s, left 1s, visibility 1s, background-color 1s, border 1s, transform 1s, box-shadow 1s;
}
body{margin: 0px;}
/*************************sideBar*************************/
#sideBar{
	position: fixed;
	height: 100vh;
	width: 300px;
	z-index: 5;
	border-right: 1px solid white;
}
	/*************************sideBar buttons and fields*************************/
	#codeButton, #money, #skill, #talent, #hireProgrammerButton, #hireDesignerButton{
		position: relative;
		top: 0px;left: 0px;
		max-width: 250px;
	}
	/*************************programmer*************************/
	#programmer, #designer{
		position: relative;
		top: 25px; left: 25px;
	}
	#mUpgrades{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		position: relative;
		top: 25px; left: 25px;
		width: 203px;
		height: 500px;
		background-color: red;
		overflow-y: scroll;
	}
	.mUpgrade{
		width: 60px;
		height: 60px;
		margin: 1px;
		background-color: blue;
		box-sizing: border-box;
	}
/*************************tabNav*************************/
#tabNav{
	position: relative;
	visibility: hidden;
	width: calc(100vw - 300px);
	height: 75px;
	top: -75px;left: 300px;
	z-index: 4;
	border-bottom: 1px solid white;
}
	#tabs{
		position: absolute;
		bottom: -1px;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
		#tabs input{
			display: none;
		}
		#tabs span{
			display: inline;
			position: relative;
			border: 1px solid black;
			border-bottom: 1px solid black;
			background-color: white;
			cursor: pointer;
			transition: border 0s;
			cursor: pointer;
		}
		#tabs input:checked  + span{
			border-bottom: 1px solid white;
			cursor: default;
		}
/*************************gamePage*************************/
#gamePage{
	position: relative;
	width: calc(100vw - 300px);
	height: calc(100vh - 75px);
	top: -75px;left: 300px;
	z-index: 3;
}
	/*************************gameTopBar*************************/
	
	/*************************gameRightBar*************************/
	#gameRightBar{
		position: relative;
		float: right;
		height: 100%;
		width: 300px;
		left: 300px;
		border-left: 1px solid white;
		box-sizing: border-box;
	}
		#workersH1{
			margin: 0px;
		}
		#gameAd{
			position: absolute;
			width: 290px;
			height: 290px;
			left: 5px;
			bottom: 5px;
			background-color: purple;
		}
	/*************************gameClickerArea*************************/
	#gameClickerArea{
		position: relative;
		float: left;
		height: 100%;
		width: calc(100% - 300px);
		overflow: hidden;
	}
		#gameTopBar{
			position: relative;
			height: 50px;
			width: 100%;
			overflow: hidden;
		}
			#gameTopBarH1{
				position: relative;
				left: -500px;
				margin: 0px;
			}
		#gameCounterArea{
			overflow: hidden;
		}
			#gameCounter{
				position: relative;
				left: -100px;
			}
		#gameClicker{
			position: relative;
			visibility: hidden;
			height: 400px;
			width: 400px;
		}
		#sideTabs{
		position: absolute;
		margin: 0px;
		padding: 0px;
		right: -1px;
		top: 50%;
		z-index: 2;
		-webkit-transform-origin: bottom right;
		-webkit-transform: rotate(-90deg) translate(50%);
		transform-origin: bottom right;
		transform: rotate(-90deg) translate(50%);
		}
		#sideTabs input{
			display: none;
		}
		#sideTabs span{
			display: inline;
			position: relative;
			border: 1px solid black;
			border-bottom: 1px solid black;
			background-color: white;
			cursor: pointer;
			
			transition: border 0s;
		}
		#sideTabs input:checked  + span{
			border-bottom: 1px solid white;
			cursor: default;
			
		}
		#achievements, #upgrades{
			position: absolute;
			height: 100%;
			width: 300px;
			top: 0px;left: 100%;
			border-left: 1px solid black;
			z-index: 1;
		}
		.hide{
			cursor: pointer;
		}

#tooltip{
	-webkit-transition: all 0s;
	transition: all 0s;
	position: fixed;
	display: none;
	width: 200px;
	border: 1px solid black;
	background-color: white;
	z-index: 9000;
}
/*************************boobleAdcentsPage*************************/
#boobleAdcentsPage{
	position: relative;
	width: calc(100vw - 300px);
	height: calc(100vh - 75px);
	top: 0px;left: 300px;
	z-index: 3;
}
	#boobleAdcentsPage h1{
		margin: 0px;
	}

.alert{
	-webkit-animation: flash 2s infinite;
	animation: flash 2s infinite;
}
@-webkit-keyframes flash {
  0%	{background-color: white;}
  50%	{background-color: red;}
  100%	{background-color: white;}
}
@keyframes flash {
  0%	{background-color: white;}
  50%	{background-color: red;}
  100%	{background-color: white;}
}